
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.jumbo {
    background-color: #404040;
    color: white;
}

li {
    margin-top: 15px;
    cursor: pointer;
}

.spacing {
    padding-left: 15px;
    justify-content: space-between;
}

h3{
    font-weight: bold;
}

.forecast{
    
    font-size: 0.9em;
}

span{
    font-size: 1em;
}

li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}